@{
    ViewBag.Title = "АЗС АМКР";
    ViewBag.section = "Сменный отчёт приёма топлива в резервуары";
}

@section styles {
    @Styles.Render("~/jquery-ui/css")
    @Styles.Render("~/DataTables/css")
    @Styles.Render("~/DateTime/css")
    <link rel="stylesheet" type="text/css" href="~/Content/report/report.css">
}

@section scripts {
    @Scripts.Render("~/bundles/Ajax")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/DataTables")
    @Scripts.Render("~/bundles/DateTime")
    <script src="~/Scripts/jquery.cookie.js" type="text/javascript"></script>

    <script>
        var log_view = '@System.Configuration.ConfigurationManager.AppSettings["Log_view"]';
        var type_test = '@System.Configuration.ConfigurationManager.AppSettings["Type_test"]';
        var controlTRK_ban = '@System.Configuration.ConfigurationManager.AppSettings["ControlTRK_ban"]';
        var pollDIO = '@System.Configuration.ConfigurationManager.AppSettings["PollDIO"]';
        var tanks_one = '@System.Configuration.ConfigurationManager.AppSettings["Tanks_one"]';
        var ns_advance = '@System.Configuration.ConfigurationManager.AppSettings["NS_advance"]';

        var tanks_alarm_high = '@System.Configuration.ConfigurationManager.AppSettings["Tanks_alarm_high"]';
        var tanks_warning_high = '@System.Configuration.ConfigurationManager.AppSettings["Tanks_warning_high"]';
        var tanks_warning_low = '@System.Configuration.ConfigurationManager.AppSettings["Tanks_warning_low"]';
        var tanks_alarm_low = '@System.Configuration.ConfigurationManager.AppSettings["Tanks_alarm_low"]';

        $('body').addClass('img-header-report');
    </script>

    <script src="~/Scripts/view/common.js" type="text/javascript"></script>
    <script src="~/Scripts/view/report_rf.js" type="text/javascript"></script>
}

<div id="report" class="report-narrow">
    <div id="table-panel">
    </div>
    <div id="tabs-reports">
        <ul>
            <li><a href="#tabs-report-1" id="link-tabs-report-1"></a></li>
            <li><a href="#tabs-report-2" id="link-tabs-report-2"></a></li>
        </ul>
        <div id="tabs-report-1">
            <table class='display compact table-shift-report' id="table-report" style="width:100%" cellpadding="0">
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td id="total-nakl" class="total-foot"></td>
                        <td colspan="3"></td>
                        <td id="total-manual" class="total-foot"></td>
                        <td colspan="5"></td>
                        <td id="total-change" class="total-foot"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="10" class="razniza-txt" style="text-align:right">Расхождения накладная (ручные замеры) :</td>
                        <td id="razniza-change" class="razniza"></td>
                    </tr>
                </tfoot>
                @*<tfoot>
                <tr><th colspan="6" class="title-foot">ИТОГО A92: </th><td class="total-foot"><label id="a92-volume"></label></td><td class="total-foot"><label id="a92-mass"></label></td><td></td></tr>
                <tr><th colspan="6" class="title-foot">ИТОГО A95: </th><td class="total-foot"><label id="a95-volume"></label></td><td class="total-foot"><label id="a95-mass"></label></td><td></td></tr>
                <tr><th colspan="6" class="title-foot">ИТОГО ДТ: </th><td class="total-foot"><label id="dt-volume"></label></td><td class="total-foot"><label id="dt-mass"></label></td><td></td></tr>
                <tr><th colspan="6" class="title-foot">ИТОГО Керосин: </th><td class="total-foot"><label id="kerosin-volume"></label></td><td class="total-foot"><label id="kerosin-mass"></label></td><td></td></tr>
            </tfoot>*@
            </table>
        </div>
        @*<div id="tabs-report-2">
                <table class='display compact' id="table-cargo-disl-operations" style="width:100%" cellpadding="0"></table>
            </div>*@
    </div>

</div>


