<html>

<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; Charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="~/Content/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="~/Content/jquery-ui.structure.css">
    <link rel="stylesheet" type="text/css" href="~/Content/jquery-ui.theme.css">


    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/Content/view/rf.css">

    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script src="~/Scripts/log4javascript.js" type="text/javascript"></script>

    <script>
        var log_view = '@System.Configuration.ConfigurationManager.AppSettings["Log_view"]';
        var type_test = '@System.Configuration.ConfigurationManager.AppSettings["Type_test"]';
        var issue_test = '@System.Configuration.ConfigurationManager.AppSettings["Issue_test"]';
        var transferSAP_ban = '@System.Configuration.ConfigurationManager.AppSettings["TransferSAP_ban"]';
        var controlTRK_ban = '@System.Configuration.ConfigurationManager.AppSettings["ControlTRK_ban"]';
        var pollDIO = '@System.Configuration.ConfigurationManager.AppSettings["PollDIO"]';
        var tanks_one = '@System.Configuration.ConfigurationManager.AppSettings["Tanks_one"]';
    </script>

    <script src="~/Scripts/view/common.js" type="text/javascript"></script>
    <script src="~/Scripts/view/rf.js" type="text/javascript"></script>

</head>
<body>
    <div id="lockPanel" class="LockOff"></div>
    <div id="content">
        <div>Текущее время :<label id="date-value"></label></div>
        <div class="rf">
            <div class="input-all">
                <div class="input-document">
                    <fieldset>
                        <legend>Заполнить документы</legend>
                        Операция приема ГСМ из : <select id="type-fuel-receiving" class="ui-widget-content ui-corner-all"></select>
                        ГСМ : <select id="type-fuel" class="ui-widget-content ui-corner-all"></select>
                        <div id="tank-truck" class="setup-operation">
                            <table class="setup-table">
                                <tr>
                                    <th>Номер накладной:</th>
                                    <td><input id="tank-truck-num-nak" type="number" class="ui-widget-content ui-corner-all input-volume" /></td>
                                </tr>
                                <tr>
                                    <th>Вес топлива:</th>
                                    <td><input id="tank-truck-weight" type="number" class="ui-widget-content ui-corner-all input-volume" /></td>
                                </tr>
                                <tr>
                                    <th>Поставщик:</th>
                                    <td><textarea id="tank-truck-provider" rows="2" class="confirm-input ui-widget-content ui-corner-all"></textarea></td>
                                </tr>
                            </table>
                        </div>
                        <div id="tank-railway" class="setup-operation">
                            <table class="setup-table">
                                <tr>
                                    <th>Номер ж.д. накладной:</th>
                                    <td><input id="tank-railway-num-nak" type="number" class="ui-widget-content ui-corner-all input-volume" /></td>
                                </tr>
                                <tr>
                                    <th>Номер ж.д. цистерны:</th>
                                    <td><input id="tank-railway-num-tanker" type="number" class="ui-widget-content ui-corner-all input-volume" /></td>
                                </tr>
                                <tr class="end">
                                    <th>Поставщик:</th>
                                    <td><textarea id="tank-railway-provider" rows="2" class="confirm-input ui-widget-content ui-corner-all"></textarea></td>
                                </tr>
                                <tr>
                                    <th>Объем по накладной (л):</th>
                                    <td><input id="tank-railway-nak-volume" type="text" class="ui-widget-content ui-corner-all input-volume" /></td>
                                </tr>
                                <tr>
                                    <th>Плотность по накладной (кг/м3):</th>
                                    <td><input id="tank-railway-nak-dens" type="text" class="ui-widget-content ui-corner-all input-volume" /></td>
                                </tr>
                                <tr class="end">
                                    <th>Масса по накладной (кг):</th>
                                    <td><input id="tank-railway-nak-mass" type="text" class="ui-widget-content ui-corner-all input-volume" /></td>
                                </tr>
                                <tr>
                                    <th>Уровень в цистерне по руч. измерениям (мм):</th>
                                    <td><input id="tank-railway-manual-level" type="text" class="ui-widget-content ui-corner-all input-volume" /></td>
                                </tr>
                                <tr>
                                    <th>Объем в цистерне по руч. измерениям (л):</th>
                                    <td><input id="tank-railway-manual-volume" type="text" class="ui-widget-content ui-corner-all input-volume" /></td>
                                </tr>
                                <tr>
                                    <th>Плотность в цистерне по руч. измерениям (кг/м3):</th>
                                    <td><input id="tank-railway-manual-dens" type="text" class="ui-widget-content ui-corner-all input-volume" /></td>
                                </tr>
                                <tr>
                                    <th>Масса в цистерне по руч. измерениям (кг):</th>
                                    <td><input id="tank-railway-manual-mass" type="text" class="ui-widget-content ui-corner-all input-volume" /></td>
                                </tr>
                            </table>
                        </div>
                    </fieldset>
                </div>
                <div class="input-tank">
                    <fieldset>
                        <legend>Добавить емкость</legend>
                        <table class="table-fuel-receiving-tank">
                            <tr>
                                <th colspan="2">
                                    Емкость для приема:<select id="reception-tank" class="ui-widget-content ui-corner-all"></select>
                                    <button id="button-add-tank" class="ui-button ui-widget ui-corner-all button-rfid-all">Добавить</button>
                                    <button id="button-clear" class="ui-button ui-widget ui-corner-all button-close">Сбросить</button>
                                </th>
                            </tr>
                            <tr>
                                <th>Уровень ГСМ в баке (мм) :</th>
                                <td><input id="reception-tank-level" name="take-level" type="text" disabled="disabled" class="confirm-input ui-widget-content ui-corner-all" /></td>
                            </tr>
                            <tr>
                                <th>Объем ГСМ в баке (л) :</th>
                                <td><input id="reception-tank-volume" name="take-volume" type="text" disabled="disabled" class="confirm-input ui-widget-content ui-corner-all" /></td>
                            </tr>
                            <tr>
                                <th>Плотность ГСМ в баке (кг/м3) :</th>
                                <td><input id="reception-tank-dens" name="take-dens" type="text" disabled="disabled" class="confirm-input ui-widget-content ui-corner-all" /></td>
                            </tr>
                            <tr>
                                <th>Масса ГСМ в баке (кг) :</th>
                                <td><input id="reception-tank-mass" name="take-mass" type="text" disabled="disabled" class="confirm-input ui-widget-content ui-corner-all" /></td>
                            </tr>
                            <tr>
                                <th>Температура ГСМ в баке (С°) :</th>
                                <td><input id="reception-tank-temp" name="take-temp" type="text" disabled="disabled" class="confirm-input ui-widget-content ui-corner-all" /></td>
                            </tr>
                            <tr>
                                <th>Уровень п-воды в баке (мм) :</th>
                                <td><input id="reception-tank-water-level" name="water-level" type="text" disabled="disabled" class="confirm-input ui-widget-content ui-corner-all" /></td>
                            </tr>
                        </table>
                    </fieldset>
                </div>
                <div class="cls"></div>
            </div>
            <div class="setup-rf">
                <button id="button-add-doc" class="ui-button ui-widget ui-corner-all button-setup" style="display:none">Перейти к выбору емкости</button>
                <button id="button-start" class="ui-button ui-widget ui-corner-all button-setup" style="display:none">Начать прием ГСМ</button>
                <button id="button-close-all" class="ui-button ui-widget ui-corner-all button-setup" style="display:none">Закрыть прием ГСМ</button>
            </div>


            <div class="fuel-receiving-hopper-all">
                <fieldset>
                    <legend>Резурвуары для приема</legend>
                    <div id="add-tanks">
                        @*<div id="tank-1" class="fuel-receiving-hopper">
                    <fieldset>
                        <legend>Резурвуар № <label>1</label></legend>
                        <table class="table-striped table-fuel-receiving-hopper">
                            <tr>
                                <th>Уровень (мм) :</th>
                                <td id="tank-level-1"></td>
                            </tr>
                            <tr>
                                <th>Объем (л) :</th>
                                <td id="tank-volume-1"></td>
                            </tr>
                            <tr>
                                <th>Плотность (кг/м3) :</th>
                                <td id="tank-dens-1"></td>
                            </tr>
                            <tr>
                                <th>Масса (кг) :</th>
                                <td id="tank-mass-1"></td>
                            </tr>
                            <tr>
                                <th>Температура (С°) :</th>
                                <td id="tank-temp-1"></td>
                            </tr>
                            <tr>
                                <th>Уровень п-воды (мм) :</th>
                                <td id="tank-water-level-1"></td>
                            </tr>
                            <tr><th colspan="2"><button id="button-close-tank-1" class="ui-button ui-widget ui-corner-all button-close">Закрыть</button></th></tr>
                        </table>
                    </fieldset>
                </div>
                <div id="tank-3" class="fuel-receiving-hopper">
                    <fieldset>
                        <legend>Резурвуар № <label>3</label></legend>
                        <table class="table-striped table-fuel-receiving-hopper">
                            <tr>
                                <th>Уровень (мм) :</th>
                                <td id="tank-level-3"></td>
                            </tr>
                            <tr>
                                <th>Объем (л) :</th>
                                <td id="tank-volume-3"></td>
                            </tr>
                            <tr>
                                <th>Плотность (кг/м3) :</th>
                                <td id="tank-dens-3"></td>
                            </tr>
                            <tr>
                                <th>Масса (кг) :</th>
                                <td id="tank-mass-3"></td>
                            </tr>
                            <tr>
                                <th>Температура (С°) :</th>
                                <td id="tank-temp-3"></td>
                            </tr>
                            <tr>
                                <th>Уровень п-воды (мм) :</th>
                                <td id="tank-water-level-3"></td>
                            </tr>
                            <tr><th colspan="2"><button id="button-close-tank-3" class="ui-button ui-widget ui-corner-all button-close">Закрыть</button></th></tr>
                        </table>
                    </fieldset>
                </div>*@
                        <div class="cls"></div>
                    </div>
                </fieldset>
            </div>





        </div>
        <p class="messageTips"></p>
    </div>

    <div id="confirm-acceptance" title="" class="confirm-acceptance" style="display:none">
        @*<p>
                <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
                Your files have downloaded successfully into the My Downloads folder.
            </p>*@
        <table class="table-confirm-acceptance table-striped table-bordered">
            <tr>
                <th>Операция приема ГСМ из:</th>
                <td id="type-fuel-receiving"></td>
            </tr>
            <tr>
                <th>Тип ГСМ:</th>
                <td id="type-fuel"></td>
            </tr>
            <tr id="truck">
                <th>Номер накладной:</th>
                <td id="acceptance-tank-truck-num-nak"></td>
            </tr>
            <tr id="truck">
                <th>Вес топлива:</th>
                <td id="acceptance-tank-truck-weight"></td>
            </tr>
            <tr id="truck">
                <th>Поставщик:</th>
                <td id="acceptance-tank-truck-provider"></td>
            </tr>

            <tr id="railway">
                <th>Номер ж.д. накладной:</th>
                <td id="acceptance-tank-railway-num-nak"></td>
            </tr>
            <tr id="railway">
                <th>Номер ж.д. накладной:</th>
                <td id="acceptance-tank-railway-num-tanker"></td>
            </tr>
            <tr id="railway">
                <th>Поставщик:</th>
                <td id="acceptance-tank-railway-provider"></td>
            </tr>
            <tr id="railway">
                <th>Объем по накладной:</th>
                <td id="acceptance-tank-railway-nak-volume"></td>
            </tr>
            <tr id="railway">
                <th>Плотность по накладной:</th>
                <td id="acceptance-tank-railway-nak-dens"></td>
            </tr>
            <tr id="railway">
                <th>Масса по накладной:</th>
                <td id="acceptance-tank-railway-nak-mass"></td>
            </tr>
            <tr id="railway">
                <th>Уровень в цистерне по руч. измерениям:</th>
                <td id="acceptance-tank-railway-manual-level"></td>
            </tr>
            <tr id="railway">
                <th>Объем в цистерне по руч. измерениям:</th>
                <td id="acceptance-tank-railway-manual-volume"></td>
            </tr>
            <tr id="railway">
                <th>Плотность в цистерне по руч. измерениям:</th>
                <td id="acceptance-tank-railway-manual-dens"></td>
            </tr>
            <tr id="railway">
                <th>Масса в цистерне по руч. измерениям:</th>
                <td id="acceptance-tank-railway-manual-mass"></td>
            </tr>
            <tr>
                <th>Список емкостей для приема ГСМ:</th>
                <td id="list-tanks"></td>
            </tr>
        </table>
    </div>
</body>
</html>

